.app {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.app,
.time {
	display: inline-flex;
}

.app > span {
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 0.8em;
	padding: 1em;
	color: white;
}

.optionsBtn {
	cursor: pointer;
}

.closeButton {
	background-color: #f1b2f4;
	width: 100%;
	height: 50px;
	border-radius: 10px;
	border: none;
	font-size: 1em;
	color: #272323;
}

.closeButton:active {
	border: solid white 2px;
}

.closeButton:focus {
	outline: none;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(1, 1, 1, 0.25);
	backdrop-filter: blur(4px);
	z-index: 1000;
	justify-content: center;
	align-items: center;
	display: flex;
}
.optionsContainer {
	background-color: #272323;
	color: #92c9f5;
	width: 400px;
	z-index: 1001;
	text-align: center;
	border-radius: 10px;
	margin: 1em;
	cursor: default;
	overflow-y: scroll;
	max-height: calc(100vh - 4em);
	margin-left: auto;
	padding: 1em;
}

.options {
	text-align: left;
}

h3 {
	position: sticky;
	top: 0em;
	background: #272323;
}

.animatedBackgroundOne {
	background: linear-gradient(
		334deg,
		#45524f,
		#19295d,
		#2b5d1c,
		#85530f,
		#5a537d,
		#08302a
	);
	background-size: 1200% 1200%;
	-webkit-animation: FadeBackgroundColour 59s ease infinite;
	-moz-animation: FadeBackgroundColour 59s ease infinite;
	animation: FadeBackgroundColour 59s ease infinite;
}

.animatedBackgroundTwo {
	background: linear-gradient(
		334deg,
		#cf2222,
		#a5512a,
		#af9818,
		#0e962b,
		#2f58b3,
		#460958
	);
	background-size: 1200% 1200%;
	-webkit-animation: FadeBackgroundColour 59s ease infinite;
	-moz-animation: FadeBackgroundColour 59s ease infinite;
	animation: FadeBackgroundColour 59s ease infinite;
}

.animatedBackgroundThree {
	background: linear-gradient(
		334deg,
		#7f7eff,
		#a390e4,
		#c69dd2,
		#0e962b,
		#cc8b8c,
		#cc8b8c
	);
	background-size: 1200% 1200%;
	-webkit-animation: FadeBackgroundColour 59s ease infinite;
	-moz-animation: FadeBackgroundColour 59s ease infinite;
	animation: FadeBackgroundColour 59s ease infinite;
}

@-webkit-keyframes FadeBackgroundColour {
	0% {
		background-position: 0% 19%;
	}
	50% {
		background-position: 100% 82%;
	}
	100% {
		background-position: 0% 19%;
	}
}
@-moz-keyframes FadeBackgroundColour {
	0% {
		background-position: 0% 19%;
	}
	50% {
		background-position: 100% 82%;
	}
	100% {
		background-position: 0% 19%;
	}
}
@keyframes FadeBackgroundColour {
	0% {
		background-position: 0% 19%;
	}
	50% {
		background-position: 100% 82%;
	}
	100% {
		background-position: 0% 19%;
	}
}
