.colourSelectGroup {
	display: block;
	position: relative;
	margin: 10px auto;
	height: auto;
	padding: 0 2rem;
}

.colourSelectGroup ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
}

.colourSelectGroup ul li {
	color: #aaaaaa;
	display: block;
	position: relative;
	float: left;
	height: 6em;
	width: 6em;
	margin: 0 1em 1em 0;
	border-radius: 1em;
	background-size: auto;
	animation: none;
}

.colourSelectGroup ul li .check {
	border: 0.5em solid #aaaaaa;
	border-radius: 1em;
	height: 5em;
	width: 5em;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: border 0.25s ease-in;
	-webkit-transition: border 0.25s ease-in;
}
.colourSelectGroup ul li:hover .check {
	border: 0.5em solid #ffffff;
}

.colourSelectGroup ul li input[type="radio"] {
	position: absolute;
	visibility: hidden;
}
