.app {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.app,
.time {
	display: inline-flex;
}

.app > span {
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 0.8em;
	padding: 1em;
}
